
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
background: #e9ecef;
font-family: 'Montserrat', sans-serif;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
.footer {
    height: 20rem;
    /*background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
}
li {
    list-style: none;
}
.foot-links a, .foot-links a:hover {
    text-decoration: none;
    color: white;
}
.foot-links {
    margin-top: 1rem;
}
.foot-links li{
    margin: 5px 5px 5px 5px;
}
.social {
    text-align: center;
    margin: 1rem 1rem 1rem 1rem ;
}
.social i{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px ;
}

.fa-facebook-f:hover {
    color: #4267b2;
}
.fa-twitter:hover {
    color:deepskyblue;
}
.fa-youtube:hover {
    color:red;
}
.fa-instagram:hover {
    color: indianred;
}
ul {
    padding-left:20px;
}
.logowithtext *{
    display: inline-block;
}
.logowithtext i{
    margin: 1rem 1rem 1rem 1rem ;
}
.logowithtext p {
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
a.logowithtext{
    text-decoration: none;
    color: white;
}
a.logowithtext:hover {
    color: #BAD1E7 ;
    transition: color .5s;
}
.slogan {
    text-align: center;
    margin: 0rem 1rem 1rem 1rem ;
}
.fRow {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.carousel-item img {
    height: 400px;
}
.is-danger {
    border: 1px solid red;
}
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }